div#by_table {
  width: 7800px;
}

div#by_table tr td {
  width: 600px;
}

div#by_table .interventiontime,
div#by_table .interventionTime {
  width: 60px;
  margin-right: -10px;
}

div#by_table td {
  vertical-align: top;
  padding: 0;
  margin: 0;
}

div#by_table p.sessionTitle {
  margin: 0;
  padding-left: 60px;
  text-transform: unset;
  white-space: normal;
  /* width: 300px; */
}

div#by_table .sessionModerators {
  opacity: 0.7;
  margin: 0;
  padding: 0;
  margin-left: 60px;
}

div#by_table .sessionSpeakers {
  opacity: 0.55;
  margin: 0;
  padding: 0;
  margin-left: 20px;
}

div#by_table .sessionSponsor,
div#by_table .fa-clock-o {
  display: none;
}

div#by_table .interventionTitle {
  margin: 0;
  padding: 0;
  border-left: none;
}

span.interventionTitle:before {
  content: "";
  height: 20px;
  position: absolute;
  top: 22px;
  left: -7px;
  border-left: 3px solid #fd9c5c;
}

div#by_table .moderator_role:before,
div#by_table .sessionTitle:before {
  content: none;
}

div#by_table .sessionTime,
div#by_table .sessionDate {
  display: inline-block;
  font-size: 24px;
  margin: 0;
  padding: 10px 10px;
  border-top: 3px solid #dddd;
}

div#by_table p.sessionRoom {
  text-align: left !important;
  padding: 0;
  margin: 0;
  padding-left: 60px;
  color: hsla(25, 50%, 50%, 0.95) !important;
  font-weight: 600;
}
