.container-fluid {
  padding: 0;
}

body {
  /*margin: 0 15px;*/
}
html {
  font-family: "Roboto", sans-serif;
}
p,
span {
  /*font-family: 'Source Sans Pro', sans-serif;*/
  font-size: 14px;
}

#nav {
  width: 100%;
  /*margin:0 0 10px 0;*/
  margin: 0 auto 10px;
}
#back,
#export,
#emptyBasket,
#print {
  margin: 0 10px 0 0;
  border: 1px solid #dbdbdb;
  float: left;
  text-align: center;
  padding: 45px 10px 10px 10px;
  height: 15px;
  display: block;
  text-decoration: none;
  color: #505050;
}
#back:hover,
#export:hover,
#emptyBasket:hover {
  text-decoration: underline;
}
#back {
  width: 150px;
  background: #f5f5f5 url("../images/back_arrow.png") 50% 10px no-repeat;
}
#export {
  margin: 0;
  width: 150px;
  background: #f5f5f5 url("../images/exporttopdf.png") 50% 10px no-repeat;
}
#print {
  /*margin:0;*/
  margin-left: 3px;
  width: 100px;
  background: #f5f5f5 url("../images/print.png") 50% 10px no-repeat;
}
#emptyBasket {
  background: #ffffff url("../images/emptybasket.png") 50% 10px no-repeat;
}
#basket,
#filtres {
  color: #505050;
  margin: 0 0 10px 0;
}

/* Filtres */
#filtres {
  overflow: hidden;
  display: block !important;
}

#filtres fieldset {
  width: 80%;
  background-color: #5b3393;
  border: 0;
  margin: 0 10px;
}

#filtres fieldset.even {
  /*margin-right: 2%;
    margin-left: 2%;*/
}

#filtres .clearfix {
  clear: both;
}

#filtres legend {
  font-size: 14px;
  color: #ffffff;
  font-weight: normal;
  display: block;
  width: auto;
  line-height: 25px;
  margin-top: 5px;
}
#filtres legend:after {
  content: " : ";
}
#filtres select {
  padding: 3px;
  border: 0;
  margin: 0;
  width: 100%;
  word-wrap: normal;
}

#filtres .form-submit {
  display: none;
}

#filtres input[type="submit"] {
  /*font-family: 'Open Sans', sans-serif;*/
  font-weight: 700;
  line-height: 70px;
  height: 70px;
  background: #7ec9ef;
  color: #ffffff;
  font-size: 25px;
  margin: 0;
  border: 0;
  padding: 0 15px;
  cursor: pointer;
  text-transform: uppercase;
}

#filtres .form-submit:after {
  height: 21px;
  background: #51a9da;
  font-family: FontAwesome;
  content: "\f138";
  position: absolute;
  top: 50%;
  right: 0;
  width: 26px;
  display: block;
  color: #ffffff;
  font-size: 30px;
  padding: 0 22px;
  margin-top: -10px;
}

#filtres input[type="submit"]:hover {
  background: #51a9da;
}

/* Structure globale */
.sessionContainer,
.sessionHead,
.sessionBody {
  width: 100%;
}
.sessionContainer {
  margin: 5px 0 10px 0;
  border-top: 3px solid #eeeeee;
  padding-top: 20px;
}
.sessionContainer p {
  margin: 0 0 10px 0;
}
.saut-ligne {
  margin: 0;
  line-height: 0;
}
.tableHead,
.tableBody {
  width: 100%;
  margin: 0;
}
.tableBody td {
  padding: 10px;
}
.blocLeft,
.blocRight {
  width: 150px;
  text-align: center;
  padding: 3px;
}
.blocTitle {
  background-color: #fff;
  padding: 5px;
}

.blocTitle ul {
  margin: 0 0 1.5em 0;
}

/* Sessions */
p.sessionDay {
  text-align: left;
  color: #e43269 !important; /* primary color */
  font-size: 1.3em !important;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 0;
  border-top: 4px solid #e43269; /*#128AAD;*/ /* primary color */
  padding-top: 20px;
  margin-bottom: 20px;
}

/*p.sessionDay#day1{
    border-top:0;
}*/

.sessionTime,
.sessionRoom {
  margin-bottom: 0 !important;
  color: grey !important;
}

/*.sessionTime:before {
    font-family: FontAwesome;
    content: "\f017";
    font-size: 12px;
    padding-right: 8px;
}*/

.sessionTime {
  font-size: 18px;
}

p.sessionRoom {
  text-align: right !important;
  font-size: 17px;
}
.sessionSponsor {
  /*background: url("../images/ps_neutral.png") repeat top left;*/
  font-size: 14px;
  padding: 10px !important;
  margin-bottom: 20px;
}

.sessionSponsor img {
  /*max-width: 170px;*/
  /*margin: 0 0 10px 20px;*/
  vertical-align: middle;
  margin: auto 10px;
}
.sponsorLogo {
  text-align: right;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

p.sessionTitle {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 18px !important;
  /*font-family:'Open Sans';*/
  padding-left: 0;
  color: #fd9c5c; /* secondary color */
  margin-bottom: 5px;
}
p.sessionTitle:before {
  font-family: FontAwesome;
  content: "\f02e";
  font-size: 16px;
  padding-right: 13px;
}

.zone-title {
  margin-left: 15px;
}
.sessionIcon {
  text-align: right;
}

/* Interventions */
.interventionTitle {
  font-size: 17px;
  /* border-left:3px solid #FD9C5C; */ /* secondary color */
  /* margin-left: 15px; */
  padding: 0;
  margin: 0;
}
.speakers-name a {
  font-style: italic;
}
.speakers-name {
  font-size: 12px !important;
  line-height: 18px;
  font-style: italic;
}
/*.speakers-name:before {
font-family: FontAwesome;
content:'\f130';
font-size: 10px;
padding-right: 5px;
}
*/

.interventionRow {
  /* clear: both;
     padding-top: 10px;*/
}
.interventionCell {
  font-size: 14px;
  border-top: 2px dotted #dcdcdc;
  margin-bottom: 7px;
  padding-top: 20px !important;
}
.interventiontime,
.interventionTime {
  font-size: 14px;
  color: grey !important;
  padding-top: 30px;
}

.moderator_from,
.speaker_from {
  font-style: italic;
}

/* Divers */
.clear {
  width: 100%;
  height: 0;
  clear: both;
}
.sessionLink {
  margin-left: 5px !important;
}
.sessionLink a {
  color: #337e47;
}
.fa-video-camera {
  color: #e43269; /* primary color */
}

.session-video a {
  font-weight: normal !important;
  font-style: normal;
  font-size: 13px;
  text-decoration: none;
  color: #e43269; /* primary color */
}

#quicktabs-tabpage-_program_2017-1 #filtres {
  display: none;
}

.blocTime,
.blocTitle {
  font-size: 15px !important;
  font-weight: bold;
}
.blocTime {
  font-weight: normal;
  font-size: 16px;
}
/*.sessionSpeciality:before {
    font-family: FontAwesome;
    content:'\f02e';
    font-size: 12px;
    padding-left: 9px;
    padding-right: 5px;
}*/
.sessionSpeciality {
  padding-right: 15px;
  text-align: right;
}

.sessionSpeciality span {
  padding: 3px 9px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  border-radius: 4px;
}

.sessionSpeciality span i {
  padding-right: 5px;
}

.sessionType {
  padding-right: 15px;
  text-align: left;
}

.sessionType span {
  padding: 3px 9px;
  color: #ffffff;
  font-size: 13px;
  font-weight: normal;
  border-radius: 4px;
}

.sessionType span i {
  padding-right: 5px;
}

.wrapper-interventioncell {
  padding-top: 7px;
}

.sessionSpeakers {
  margin-top: 13px;
}
.sessionSpeakers p {
  padding-left: 30px;
  margin-top: -35px;
}
.sessionSpeakers ul.role_list {
  margin: 0 0 1.5em 0em !important;
  padding-left: 22px !important;
}

@media only screen and (max-width: 600px) {
  p.sessionTitle {
    margin: 0 !important;
  }
  .sessionType:before {
    padding-left: 0;
  }
}

/***********************
 FILTERS
 ***********************/
div#filters ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div#filters li {
  float: left;
}

div#filters .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 9px 12px;
  text-decoration: none;
  background-color: #313131;
  font-family: "Arial";
  margin-right: 5px;
}

div#filters li a {
  display: inline-block;
  text-align: center;
  padding: 9px 12px;
  text-decoration: none;
  background-color: #5b3393;
  margin-left: 5px;
  font-size: 14px;
}
div#filters li > a:after {
  font-family: FontAwesome;
  content: "\f107";
  padding-left: 9px;
}

div#filters li a:hover,
.dropdown:hover .dropbtn,
div#filters li a:hover,
.dropdown:focus .dropbtn,
div#filters li a:hover,
.dropdown:active .dropbtn {
  background-color: #5b3393;
}

div#filters li > a:hover,
div#filters li > a:focus,
div#filters li > a:active {
  background-color: #5b3393;
}

div#filters li.dropdown {
  display: inline-block;
  float: right;
}

div#filters .dropdown-content {
  display: none;
  position: absolute;
  color: #ffffff;
  min-width: 160px;
  max-height: 400px;
  overflow: auto;
  z-index: 100;
  top: 44px;
  left: 6px;
  background-color: #313131;
}

div#filters .dropdown-content a {
  color: #ffffff;
  padding: 5px 10px;
  text-decoration: none;
  display: block;
  text-align: left;
  background-color: #313131;
  font-size: 13px;
  font-weight: 100;
  cursor: pointer;
}

div#filters .dropdown-content a:hover {
  color: #e5115b;
  text-decoration: none;
  background-color: #313131;
}

div#filters .dropdown:hover .dropdown-content {
  display: block;
}

div#filters .dropdown-content .filter_selected {
  color: #ffffff;
  text-decoration: none;
}

#filter-container {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff;
}
/*.wrapper-filtres{*/
/*border-bottom: 4px solid #5b3393;*/
/*padding-bottom: 0px;*/
/*margin-bottom: -4px;*/
/*position: fixed;*/
/*top: 0;*/
/*left: 0;*/
/*right: 0;*/
/*height: 50px;*/
/*background-color: #fff;*/
/*z-index: 12000;*/
/*}*/

.wrapper-filtres #filters {
  /*width: 72%;*/
  display: inline-block;
  padding-top: 8px;
}
.wrapper-filtres .print-me-block {
  width: 5%;
  display: inline-block;
  height: 43px;
}
.wrapper-filtres .download-pdf-block {
  width: 5%;
  display: inline-block;
  height: 43px;
  position: relative;
  /*margin-top: 8px;*/
}
.wrapper-filtres .basket-block {
  display: inline-block;
  height: 43px;
  /*padding-top: 8px;*/
  position: relative;
}
.wrapper-filtres .print-me-block .print-me {
  background-color: #e43269; /* primary color */
  color: #ffffff;
  width: 45px;
  height: 42px;
  float: right;
  margin-right: 9px;
  /*margin-top: 8px;*/
}
.wrapper-filtres .download-pdf-block .print-me {
  background-color: #e43269; /* primary color */
  color: #ffffff;
  width: 45px;
  height: 42px;
  float: right;
  margin-right: 9px;
  margin-top: 1px;
}
.wrapper-filtres .basket-block .my-programme {
  background-color: #fd9c5c; /* secondary color */
  color: #ffffff;
  /*width:45px;*/
  /*height:42px;*/
  height: 32px;
  float: right;
  /*margin-right: 9px;*/
  margin-top: 1px;
  padding: 5px;
}
.wrapper-filtres .basket-block .my-programme a {
  text-decoration: none;
  padding: 5px 10px;
  font-size: 14px;
}
.wrapper-filtres .basket-block .my-programme a:hover {
  text-decoration: underline;
}
.wrapper-filtres .print-me-block .print-me a:after {
  font-family: FontAwesome;
  content: "\f1c1";
  font-size: 18px;
  color: #ffffff;
  padding: 14px;
  top: 62px;
  /*content:url(pdf-icon.png);
    transform: scale(.48);
    padding: 14px 0;
    top: 44px;
    right: -3px;*/
  text-align: center;

  position: absolute;
  top: 2px;
}

.wrapper-filtres .download-pdf-block .download-pdf a:after {
  font-family: FontAwesome;
  content: "\f1c1";
  font-size: 18px;
  color: #ffffff;
  padding: 14px;
  top: 62px;
  /*content:url(pdf-icon.png);
    transform: scale(.48);
    padding: 14px 0;
    top: 44px;
    right: -3px;*/
  text-align: center;

  position: absolute;
  top: -3px;
}

.wrapper-filtres .print-me-block .print-me a {
  color: #ffffff;
  text-align: center;
}
.wrapper-filtres .download-pdf-block .download-pdf a,
.wrapper-filtres .basket-block .basket a {
  color: #ffffff;
  text-align: center;
}

.wrapper-filtres div#filters .dropbtn.dropbtn_selected {
  background-color: #000000; /* secondary color */
}

.search-results {
  float: left;
  display: inline-block;
  z-index: 60;
  margin: 0;
  line-height: 19px;
}

/***** Session TAG *****/

.sessionTag li {
  /*font-family:'Open Sans';*/
  display: inline-block;
  margin: 0 10px 0 0;
  background-color: #128aad;
  color: #ffffff;
  font-size: 12px;
  font-weight: normal;
  padding: 0 9px;
  border-radius: 5px;
  line-height: 22px;
}

.sessionTag li:before {
  font-family: FontAwesome;
  content: "\f02b";
  font-size: 11px;
  padding-right: 5px;
}

.sessionTag {
  padding: 0;
  margin: 0;
}

.sessionDescription {
  margin-top: 18px;
}

.sessionDescription .description {
  text-align: justify;
  font-weight: normal;
}

ul.objective li,
ul.role_list li {
  font-weight: normal;
  font-size: 13px;
  /*font-family: 'Open Sans';*/
  list-style-type: none;
}

.sessionModerators ul.role_list {
  margin: 0 0 1.5em 0;
}
.moderator_role {
  font-weight: 600;
  /*font-family: 'Open Sans';*/
  font-size: 15px;
  color: #333333;
}
.moderator_role:before {
  font-family: FontAwesome;
  content: "\f007";
  font-size: 15px;
  padding-right: 10px;
}

ul.role_list li a {
  text-decoration: none;
  color: #313131;
}

ul.role_list li a:hover {
  text-decoration: none;
  color: #e5115b;
}

ul.role_list li a:after {
  font-family: FontAwesome;
  content: "\f002";
  font-size: 11px;
  padding-left: 10px;
}

.objectif-block {
  border-top: 2px dotted #dcdcdc;
  border-bottom: 2px dotted #dcdcdc;
  padding: 10px 0;
  margin: 1.5em 0;
}
.objectivesentence {
  font-weight: 600;
  /*font-family: 'Open Sans';*/
}

.objectif-block ul.objective {
  margin: 0 0 0.5em 0 !important;
}

/*.objectivesentence:before {
    font-family: FontAwesome;
    content:'\f135';
    font-size: 11px;
    padding-right: 5px;
}*/

@media all and (max-width: 480px) {
  p.sessionTitle {
    padding-left: 0;
  }
  .sessionSpeciality {
    text-align: left;
    padding-left: 9px;
  }
  div#filters li.dropdown {
    display: block;
    float: none;
    text-align: center;
    margin-bottom: 10px;
  }
  div#filters .dropdown-content {
    left: 48%;
    margin: 0 auto;
    transform: translate(-50%);
  }
  .search-results {
    top: 0;
  }
  .print-me-block {
    display: none !important;
  }
  .interventionTime {
    border-top: 2px dotted #dcdcdc;
    padding-top: 12px;
    margin-top: 12px;
  }
  .interventionCell {
    border-top: 0;
    padding-top: 5px !important;
  }
}

.sessionDescription.clearfix {
  clear: both;
  margin-left: 0;
}

.followWrap {
  position: sticky !important;
  top: 50px !important;
  z-index: 80;
}

.sessionWrap {
  /*margin-top: 48px;*/
}

.sessionWrap .day-floating {
  position: relative;
  color: #3f3f3f;
  /*font-size: 21px; font-weight: 500;*/
  z-index: 40;
  margin-top: -2px;
  /*height: 60px;*/
  background: #fff;
  margin-left: 0;
}
.sessionWrap .day-floating > span {
  display: block;
  clear: both;
  border-top: 4px solid #35aadc;
  padding: 14px 0;
  max-height: 60px;
  background: #fff;
  border-bottom: 2px solid #d2d2d2;
}
.sessionWrap .day-floating.fixed {
  /*position: fixed;*/
  /*top: 2px;*/
  /*top: 50px;*/
  left: 0;
  right: 0;
  z-index: 30;
  width: 100%;
  border-bottom: 3px solid #eee;
}
.sessionWrap .day-floating.fixed.absolute {
  position: absolute;
}

.sessionWrap .day-floating .nav-tabs,
.sessions.list .session .more {
  display: none;
}

.dropup,
.dropdown {
  position: relative;
}

@media all and (max-width: 480px) {
  div#filters li.dropdown {
    display: inline-block;
    text-align: center;
    width: 48%;
    margin: 0 1% !important;
    margin-bottom: 10px !important;
    background-color: #000000; /* secondary color */
  }
  div#filters .dropbtn {
    margin-left: 0;
    padding: 9px 0;
    font-size: 13px;
  }
  div#filters .dropdown-content {
    left: 53%;
    margin: 0 auto;
    transform: translate(-50%);
  }

  .search-results {
    top: 0;
    float: none;
    display: block;
    z-index: 60;
    width: 100%;
    margin-bottom: 0;
  }
  .wrapper-filtres {
    height: auto;
  }
  .wrapper-filtres div#filters .dropdown:hover {
    background-color: #e43269; /* primary color */
  }
}

.wrapper-filtres {
  border-bottom: 4px solid #e43269; /* primary color */
  padding-bottom: 0px;
  margin-bottom: -4px;
  left: 0;
  right: 0;
  /*background-color: #fff;*/
  z-index: 1000;
  position: sticky !important;
  top: 10px;
  height: 60px;
}

@media all and (min-width: 1100px) {
  /*
    .wrapper-filtres{
        height: 50px;
    }
*/
}

@media all and (max-width: 768px) {
  .sponsorLogo {
    text-align: left;
  }
}

.room-zone {
  display: inline-block;
}
.session-video {
  display: inline-block;
}

.wrapper-filtres .filter_search {
  width: 400px;
  display: inline-block;
  height: 43px;
  position: absolute;
}

.wrapper-filtres .filter_search .search {
  background-color: #e43269; /* primary color */
  color: #ffffff;
  width: 40px;
  height: 42px;
  float: left;
  margin-right: 9px;
  /*margin-top: 8px;*/
}

.wrapper-filtres .free_search {
  display: none;
  padding: 5px 10px 0px;
  width: 200px;
  height: 35px;
  margin-left: 40px;
  margin-left: 0px;
  margin-top: 41px;
  z-index: 1200;
  border: 1px solid #e43269;
  background-color: #fff;
}
.wrapper-filtres .free-search input {
  font-family: inherit;
  font-size: 100%;
}

.wrapper-filtres .filter_search .search .fa-search {
  margin: 12px;
}

.pdf {
  padding: 1em;
}

.pdf a:link,
.pdf a:visited {
  text-decoration: none;
  color: #de1a6c;
}

.pdf__huge {
  font-size: 1.25rem;
}
